@model List<MvcApplication1.Models.Scholarship>
@{
    ViewBag.Title = "Schlindex";
    Layout = "~/Views/Shared/admin_share.cshtml";

}

<div   id="menu_container">
  <nav style="margin-left:10px;margin-top:100px">
        
          <ul class="sf-menu" id="nav">
              <li><a href="/Admin/AdminUpdate">Home</a></li>
              <li><a href="/Admin/AddNewUser">Add New User</a></li>
            <li><a href="/Admin/Logout">Logout</a></li>
            
            
          </ul>
        
      </nav>
</div>
&nbsp&nbsp
<h2 style="font-size:xx-large;text-decoration-color:black;margin-top:120px;margin-left:200px">ScholarShip Management</h2>
<div style="margin-left:200px;margin-top:10px">



<p>
    <a href="~/Admin/ScholarshipInsert">Create New</a>

  @*  @Html.ActionLink("Create New", "Create")*@
</p>
<table>
    <tr>
        <th>
          Level
        </th>
        <th>
            Amount
        </th>
        <th>
            Detail
        </th>
        <th> Institute</th>
        <th> Link</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @item.leval
        </td>
        <td>
            @item.Amount
        </td>
        <td>
           @item.Detail
        </td>
        <td>
           @item.Institute
        </td>
         <td>
           @item.DetailLink
        </td>
        <td>
             @*<a href="~/Student/Edit/@item.Id">Edit</a>*@ 

            @Html.ActionLink("Edit", "schlUpdate", new { id=item.Id }) |
            @*@Html.ActionLink("Details", "", new { id=item.Id })*@
            @Html.ActionLink("Delete", "schlDelete", new { id=item.Id })
        </td>
    </tr>
    
}

</table>
    </div>

